.transformer-page{
  width:100%;
  position: relative;
  height:100%;
  z-index:10;
  overflow-y: auto;
  .page-top{
    height: 200px;
    display: flex;
    padding:10px;
    box-sizing: border-box;
    flex-direction: row;
    .line-item{
      flex: 1;
    }
  }
  .page-center{
    // flex:1;
    height: 350px;
  }
  .page-bottom{
    padding:20px;
    box-sizing: border-box;
  }
  .dynamo-legend{
    position: relative;
    padding-left: 5%;
    span{
      margin:0 5px;
    }
  }
  .unit-legend{
    position: relative;
    text-align: right;
    padding-right: 5%;
    margin-bottom: 20px;
    .unit{
      color:#42d321;
      margin:0 5px;
    }
  }
  .dynamo-middle{
     height:calc(~"100%");
     width:100%;
    i{
      position: relative;
      left: 35px;
      top: 30px;
     }
    .dynamo-middle-left{
      width:560px;
      height:300px;
      margin: 0 auto;
      position: relative;
      margin-top: 20px;
      .dynamo-lable-left{
        position: absolute;
        top: 79%;
        left:calc(~"15% + 10px");
        z-index:1000;
        div{
          padding:2px 5px;
          color:#42d321;
        }
      }
      .left-text{
        position: absolute;
        top: 50%;
        display: inline;
        left: 150px;
      }
      .left-img{
        position: absolute;
        top: 30%;
        display: inline;
        left:calc(~"15% - 65px");
      }
      .right-text{
        position: absolute;
        top: 50%;
        display: inline;
        right: 140px;
      }
      .right-img{
        position: absolute;
        top: 30%;
        display: inline;
        right: calc(~"15% - 65px");
      }
      .dynamo-lable-right{
        position: absolute;
        top: 79%;
        right:calc(~"15% - 80px");
        margin-left:10px;
        z-index:1000;
        div{
          padding:2px 5px;
          color:#42d321;
        }
      }
      .dynamo-line{
        height:90%;
        width: 90%;
        position: relative;
        border-top: 4px solid #fff;
        margin-left: 5%;
        .dynamo-bg{
           border-left: 1px solid #fff;
           border-right: 1px solid #fff;
           width: 70%;
           height:100%;
           margin-left: 15%;
          .left-switch-one{
            position: absolute;
            left:calc(~"15% - 6px");
            top: 10%;
          }
          .right-switch-one{
            position: absolute;
            right: calc(~"15% - 6px");
            top: 10%;
          } 
          .left-switch-two{
            position: absolute;
            left:calc(~"15% - 6px");
            top: 80%;
          }
          .right-switch-two{
            position: absolute;
            right: calc(~"15% - 6px");
            top: 80%;
          }  
          .left-circle{
            position: absolute;
            left:calc(~"15% - 6px");
            top: 79%;
          }
          .right-circle{
            position: absolute;
            right: calc(~"15% - 6px");
            top: 79%;
          }
        }
        
      }
    }
  }
  .table-content{
    width: 100%;
    border-collapse: collapse;
    tr:first-child{
      // font-size:16px;
      font-weight: bold;
    }
    td,th{
      border:1px solid #fff;
      text-align: center;
    }
  }

}
